# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Virtual Environment
# -------------------------------
venv/
env/
ENV/

# -------------------------------
# Data files (large datasets)
# -------------------------------
data/
*.csv

# -------------------------------
# Streamlit secrets (VERY IMPORTANT)
# -------------------------------
.streamlit/secrets.toml

# -------------------------------
# OS files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# Jupyter Notebooks (optional)
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Model files (optional if large)
# -------------------------------
*.pkl

# -------------------------------
# VS Code
# -------------------------------
.vscode/